<div id="wrapper">
  <header id="banner" class="scrollto row clearfix no-padding-top no-padding-bottom" data-enllax-ratio=".5">
      <div id="header" class="nav-collapse">
          <div class="row clearfix ">
              <div class="col-1 ">
                  <!--Main Navigation-->
                  <!-- new comment -->
                  <nav id="nav-main">
                      <ul>
                          <li>
                              <a href="#banner">About</a>
                          </li>
                          <li>
                              <a href="#Experience">Experience</a>
                          </li>
                          <li>
                              <a href="#skills">Skills</a>
                          </li>
                          <li>
                            <a href="#Projects">Projects</a>
                          </li>
                          <li>
                              <a href="#find">Where to find me</a>
                          </li>
                      </ul>
                  </nav>
                  <!--End of Main Navigation-->

                  <div id="nav-trigger"><span></span></div>
                  <nav id="nav-mobile"></nav>

              </div>
          </div>
      </div><!--End of Header-->

      <!--Start of intro Row-->
      <div id="banner-content" class="row clearfix">
          <div class="col-38">

              <div class="section-heading">
                  <h1>Caroline Hernandez</h1>
                  <h2>I'm a senior Computer Science student at the University of Colorado-Boulder with a focus in Software Engineering!</h2>
              </div>
              <!-- pull up email -->
              <a href="mailto:caroline.hernandez@colorado.edu" class="button" href="add-website-here" target="_blank" rel="nofollow noopener">Get In Touch</a>
              <!-- pull up email -->
          </div>
          <!-- me on right -->
          <div class="col-38">
            <img src="assets/images/banner-images/me.jpg" alt="me"/>
          </div>
          <!-- me on right -->
      </div>
      <!--End of intro Row-->
  </header>

  <!--Main Content Area-->
  <main id="content">
      <!--Experience Section-->
      <div class="text-center">
        <section id="Experience" class="section-heading text-center scrollto clearfix ">
          <h2 class="section-title scrollto clearfix">Experience</h2>
        </section>
      </div>
      
      <div class="row clearfix no-padding-top">
        <section >
          <p>Software Engineer Intern👩🏼‍💻</p>
          <p class="section-subtitle">Workiva: Remote (Denver, CO)</p>
          <p class="section-subtitle">May 2021 - August 2021</p>
          <p class="section-subtitle">Developed a state stream and function extending on the track changes tool used by 5,000+ customers to provide consistency and clarity among experiences, including building on underlying outline and state.</p>
          <p class="section-subtitle">Designed and developed a way to make notification text consistent with active experience by building on an underlying access control module and factory design pattern and testing components to ensure reliable and high quality code.</p>
          <p class="section-subtitle">Skills utilized: Dart, React, TypeScript Go, HTML, SCSS, Git</p>
        </section>
        <section >
          <p>Undergrad Web Developer🚀</p>
          <p class="section-subtitle">Laboratory for Atmospheric Space and Physics: Boulder, CO</p>
          <p class="section-subtitle">Sept 2020 - April 2021</p>
          <p class="section-subtitle">Integrated a checkbox tree in a dropdown component in a module to better organize instrument and observatory filter options based on a parent value for simplified search.</p>
          <p class="section-subtitle">Implemented and tested a perfectly performant search for datasets that begins matching on one character by narrowing down and correctly concatenating the search string improving existing software.</p>
          <p class="section-subtitle">Skills utilized: AngularJS, TypeScript HTML, SCSS, Git</p>
        </section>
        <section >
          <p>Course Assistant for Data Structures</p>
          <p class="section-subtitle">University of Colorado: Boulder, CO</p>
          <p class="section-subtitle">August 2019 - August 2020</p>
          <p class="section-subtitle">Lectured 40+ students on core data structures and their representation techniques along with approaches to debugging.</p>
          <p class="section-subtitle">Tutored ~15 students/week by providing homework and project help, exam preparation, and assistance with critical thinking and logical reasoning.</p>
          <p class="section-subtitle">Skills utilized: C++</p>
        </section>
      </div>
      <!--End of Experience-->

      <!--Skills Section-->
      <div class="text-center clearfix">
        <div id="skills"  class="section-heading no-padding-top scrollto clearfix">
          <h2 class="section-title">Skills</h2>
        </div>
        <div class="row no-padding-top no-padding-bottom clearfix">
            <!--Content Left Side-->
            <div class="section-heading col-3">
              <br>
            </div>
            <!--End Content Left Side-->

            <!--Content of the Right Side-->
            <div class="section-heading  col-3">
              <h3>Dart</h3>
              <h3>Go</h3>
              <h3>Swift</h3>
              <h3>React</h3>
              <h3>AngularJS</h3>
              <h3>Python</h3>
              <h3>C++</h3>
              <h3>SQL</h3>
              <h3>MySQL</h3>
              <h3>JavaScript</h3>
              <h3>TypeScript</h3>
              <h3>HTML</h3>
              <h3>CSS/SCSS</h3>
            </div>
            <!--End Content Right Side-->

            <div class="col-3">
                <br>
            </div>

        </div>


      </div>
      <!--End of Skills Section-->

      
      <!--Projects-->
      <section class=" text-center ">
        <div id="Projects" class="row scrollto clearfix">
            <div class="section-heading no-padding-bottom">
                <h2 class="section-title">Projects</h2>
            </div>
            <!--Projects Block-->
            <div class="pricing-block col-3 wow fadeInUp no-padding-top" data-wow-delay="0.4s">
                <div class="pricing-block-content">
                  <h3>Flix</h3>
                  <br>
                  <img src="../assets/images/project-images/flixster.png" alt="Flix"/>
                  <ul>
                      <li>An iOS mobile app that allows users to browse movies from the Movie Database API.</li>
                  </ul>
                    <a href="https://github.com/cahe6160/Flixster" class="button">See Code</a>
                </div>
            </div>
            <!--End Projects Block-->

            <!--Projects Block-->
            <div class="pricing-block col-3 wow fadeInUp no-padding-top" data-wow-delay="0.4s">
              <div class="pricing-block-content">
                <h3>Big Data Web App</h3>
                <div class="row"><br></div>
                <img src="../assets/images/project-images/bigData.png" alt="BigData"/>
                <div class="row"></div>
                <ul>
                    <li>Allows user to choose country and years to display ave. temperature and carbon emission data.</li>
                </ul>
                  <a href="https://github.com/CUBigDataClass/significant-stats" class="button">See Code</a>
              </div>

            </div>
            <!--End Projects Block-->

            <!--Projects Block-->
            <div class="pricing-block col-3 wow fadeInUp no-padding-top" data-wow-delay="0.4s">
              <div class="pricing-block-content">

                <h3>Parstagram</h3>
                <br>
                <img src="../assets/images/project-images/flixster.png" alt="Parstagram"/>
                <ul>
                    <li>An Instagram clone with a custom Parse backend that allows a user to post photos, view a global photos feed, and add comments!</li>
                </ul>
                  <a href="https://github.com/cahe6160/Parstagram" class="button">See Code</a>
              </div>
          </div>
            <!--End Projects Block-->

        </div>
    </section>
    <!--End of Projects-->

    <!--Where to find me-->
    <section id="find" class="text-center scrollto clearfix no-padding-top">
        <div class="row clearfix">
          <div class="section-heading no-padding-bottom">
            <h2 class="section-title">Where to find me</h2>
          </div>
          <div class="col-5"><br></div>
            <div class="col-2-3">
              <div class="col-4">
                <a href="https://www.linkedin.com/in/carolineahernandez/">
                  <img src="../assets/images/company-images/in.png" alt="linkedin"/>
                </a>
              </div>
              <div class="col-4">
                <a href="mailto:carolineanne9398@gmail.com">
                  <img src="../assets/images/company-images/mail.png" alt="email"/>
                </a>
              </div>
              <div class="col-4">
                <a href="https://github.com/cahe6160">
                  <img src="../assets/images/company-images/github.png" alt="github"/>
                </a>
              </div>
              <div class="col-4">
                <a href="https://boulder.joinhandshake.com/users/12225536">
                  <img src="../assets/images/company-images/shake.jpg" alt="github"/>
                </a>
              </div>
            </div>

        </div>
    </section>
    <!--End of Where to find me-->
  </main>
  <!--End Content Area-->

</div>